@page "/admin"

<div class="adminPage_container1"style="text-align: center; display: flex; justify-content: center; align-content: center; flex-direction: column">
    <Admin_ProductList/>
    <AddProduct/>
</div>
@code {
    
} 