@inject IUserManager UserManager

@page "/welcome"
@if (isSignedIn)
{
    <h1>Welcome @User.UserName.ToUpper()!</h1>
}
   


@code {
    public ApplicationUser? User { get; set; }

    bool isSignedIn;

    protected override async Task OnInitializedAsync()
    {
        User = await UserManager.GetCurrentUser();
        if (User != null)
        {
            isSignedIn = true;
        }
    }
}
