@page "/Login"

<div class="m-4 login_container" style="display: flex; justify-content: center;">
<SignIn></SignIn>

</div>
@code {
    [Parameter]
    public ApplicationUser? CurrentUser { get; set; }

    public bool IsOnline;

 
}